<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.ilhajob.blog.mapper.BlogMapper">
    <select id="findBlog" parameterType="int" resultType="com.itwill.ilhajob.blog.Blog">
        select * from blog where blog_seq = #{blogSeq}
    </select>
    
    <select id="selectAll" resultType="com.itwill.ilhajob.blog.Blog">
        select * from blog
    </select>
    
    <select id="selectByBlogUser" parameterType="int" resultType="com.itwill.ilhajob.blog.Blog">
        select * from blog where user_seq = #{user_seq}
    </select>
    
    <insert id="insertBlog" parameterType="com.itwill.ilhajob.blog.Blog">
        insert into blog (blog_seq, blog_title, blog_content, blog_image, blog_date, blog_read_count, blog_like, user_seq, blog_cate_seq) 
        values (#{blogSeq}, #{blogTitle}, #{blogContent}, #{blogImage}, #{blogDate}, #{blogRead}, #{blogReadCount}, #{blogLike}, #{userSeq}, #{blogCateSeq})
    </insert>
    
    <update id="updateBlog" parameterType="com.itwill.ilhajob.blog.Blog">
        update blog set blog_seq = #{blogSeq}, blog_title=#{blogTitle}, blog_content=#{blogContent}, blog_image=#{blogImage}, blog_date=#{blogDate},
        blog_read_count=#{blogReadCount}, blog_like=#{blogLike}, user_seq=#{userSeq}, blog_cate_seq=#{blogCateSeq}
    </update>
    
    <delete id="deleteBlog" parameterType="com.itwill.ilhajob.blog.Blog">
        delete from blog where blog_seq = #{blogSeq}
    </delete>

</mapper>