<div class="model">
  <!-- Apply modal -->
  <div id="login-modal">
    <!-- Apply Form -->
    <div class="login-form default-form">
      <div class="form-inner">
        <h3>이력서를 선택하세요.</h3>
        <!--Login Form-->
        <form id="apply-f" name="apply-f" method="post">
          <div class="form-group">
            <label>이력서 목록</label>
            <select class="chosen-select" >
            
            </select>
          </div>

          <input type="hidden" id="" name="" value="">

          <div class="form-group">
            <button class="theme-btn btn-style-one" type="button" id="apply-btn" name="apply-btn">선택한 이력서로 지원하기</button>
          </div>

			<div class="form-group">
				<div class="btn-box row">
					<div class="col-lg-6 col-md-12">
						<a href="cv-write-form" id="write-btn" class="theme-btn btn-style-four"><i class="la la-user"></i>새 이력서 쓰기</a>
					</div>
					<div class="col-lg-6 col-md-12">
						<a href="cv-detail" id="update-btn" class="theme-btn btn-style-four"><i class="la la-briefcase"></i>이력서 수정하기</a>
					</div>
				</div>
			</div>

		</form>

      </div>
    </div>
    <!--End Apply Form -->
  </div>
  <!-- End Apply Module -->

  <script type="text/javascript">

  </script>

</div>