<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>ilhajob</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
     <div id="main-header" th:include="include_common_top_dashboard::include_common_top_dashboard"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <th:block th:if="${session.sUserId != null}">
    <div class="user-sidebar" th:include="user-sidebar::user-sidebar"></div>
    </th:block>
    <th:block th:if="${session.sCorpId != null}">
    <div class="user-sidebar" th:include="corp-sidebar::corp-sidebar"></div>
    </th:block>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
<!--         <div class="upper-title-box">
          <h3>Change Password</h3>
          <div class="text">Ready to jump back in?</div>
        </div> -->

        <!-- Ls widget -->
        <div class="ls-widget">
          <div class="widget-title">
            <h4>비밀번호 변경</h4>
          </div>

          <div class="widget-content">
            <form class="default-form" id="update-f" method="post">
              <div class="row">
                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>기존 비밀번호 </label>
                  <input id="oldPassword-field" type="password" name="oldPassword" placeholder="">
                  <div id="oldPasswordError" class="error-message1" style="color: red"></div>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>새로운 비밀번호</label>
                  <input id="newPassword-field" type="password" name="newPassword"  placeholder="">
                  <div id="newPasswordError" class="error-message2" style="color: red"></div>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>새로운 비밀번호 확인</label>
                  <input id="newPasswordConfirm-field" type="password" name="newPasswordConfirm" placeholder="">
                  <div id="newPasswordConfirmError" class="error-message" style="color: red"></div>
                  <div id="password-field" class="error-message3" style="color: red"></div>
                </div>
				
                <!-- Input -->
                <div class="form-group col-lg-6 col-md-12">
                  <button class="theme-btn btn-style-one" type="button" id="passwordUpdate-btn" name="passwordUpdate-btn">수정</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <div th:include="include_copyright_bottom::include_copyright_bottom"></div>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/password.js"></script>
  <script src="js/script.js"></script>
</body>

</html>