<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>ilhajob</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
      <div id="main-header" th:include="include_common_top_dashboard::include_common_top_dashboard"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    	 <th:block th:if="${session.sUserId != null}">
    <div class="user-sidebar" th:include="user-sidebar::user-sidebar"></div>
    </th:block>
    <th:block th:if="${session.sCorpId != null}">
    <div class="user-sidebar" th:include="corp-sidebar::corp-sidebar"></div>
    </th:block>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>구매 내역</h3>
          <div class="text">구매 내역과 상품의 만료 기간을 확인해 보세요.</div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Ls widget -->
            <div class="ls-widget">
              <div class="tabs-box">
                <div class="widget-title">
                  <h4>내가 구매한 상품 리스트</h4>

                </div>

                <div class="widget-content">
                  <div class="table-outer">
                    <table class="default-table manage-job-table">
                      <thead>
                        <tr>
                          <th>주문 번호</th>                                                                                                                                                                                                                                                                                                                                                                                                  
                          <th>주문 상품</th>                                                                                                                                                                                                             
                          <th>주문 시작일</th>
                          <th>주문 마감일</th>
                          <th>활성화</th>                       
                        </tr>
                      </thead>

                      <tbody>
                        <tr th:each="orders:${orderList}">
                          <td th:text = ${orders.id}>1</td>       
                         <td th:text ="${orders.product.productName}">슈퍼 이력서 팩</td>
                          <td th:text="${#temporals.format(orders.orderStartDate, 'yyyy-MM-dd')}">Apr 21, 2023</td>
                          <td th:text="${#temporals.format(orders.orderEndDate, 'yyyy-MM-dd')}">Apr 30, 2023</td>
                          <td th:name="orderVaild" th:value="${orders.orderValid}">Active</td>                          
                        </tr>                                                                                              
                      <!--   <tr th:each="orders:${orderList}">
                          <td>2</td>        
                          <td>골드 채용 패키지</td>
                          <td th:text="${orders.orderStartDate}">Apr 21, 2023</td>
                          <td th:text="${orders.orderEndDate}">Apr 30, 2023</td>
                          <td th:text="${orders.orderValid}">Active</td>                          
                        </tr>                                                                                              
                        <tr th:each="orders:${orderList}">
                          <td>3</td>        
                          <td>실버 채용 패키지</td>
                          <td th:text="${orders.orderStartDate}">Apr 21, 2023</td>
                          <td th:text="${orders.orderEndDate}">Apr 30, 2023</td>
                          <td th:text="${orders.orderValid}">Active</td>                          
                        </tr> -->                                                                                                                                                                                                               
                      </tbody>
                    </table>
                    <div class="copyright-text" th:if="${orderList.size()==0}">
	                <p>구매 내역이 없습니다.</p>
	                <p><a href="product">상품 구매하러 가기</a></p>
	                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <div th:include="include_copyright_bottom::include_copyright_bottom"></div>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  <script src="js/order.js"></script>
</body>

</html>