<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.ilhajob.corpimage.mapper.CorpMapper">

	<insert id="insertCorpImage" parameterType="com.itwill.ilhajob.corpimage.CorpImage">
		<selectKey order="BEFORE"  resultType="int"  keyProperty="corp_image_seq" >
			select corp_image_corp_image_seq.nextval from dual
		</selectKey>
		insert into corpImage(corp_image_seq,corp_image,corp_id)
		values(#{corp_image_seq},#{corp_image},#{corp_id})
	</insert>
	
	<select id="selectBySEQ" parameterType="java.lang.Integer"
							resultType="com.itwill.ilhajob.corpimage">
		select * from corpImage
		where corp_image_seq = #{corp_image_seq}
	</select>
	
	<select id="selectById" parameterType="java.lang.String" 
							resultType="com.itwill.ilhajob.corpimage">
		select * from corpImage
		where corp_id = #{corp_id}
	</select>
	
	<select id="selectAll" resultType="com.itwill.ilhajob.corpimage">
		select * from corpImage
	</select>
	
	<update id="updateCorpImage" parameterType="java.lang.Integer">
		update corpImage set
		corp_image=#{corp_image}
		where corp_image_seq=#{corp_image_seq}
	</update>
	
	<delete id="deleteCorpImageById" parameterType="java.lang.String">
		delete from corpImage
		where corp_id=#{corp_id}
	</delete>
	
	<delete id="deleteCorpImageBySEQ" parameterType="java.lang.Integer">
		delete from corpImage
		where corp_id=#{corp_image_seq}
	</delete>
	
	
</mapper>